<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="entities">
    <form method="post" action="/sales/edit/<%= sale.id %>?_method=PUT" class="edit-client edit-individuals">
      <h1>Редактировать продажу</h1>
      <input type="text" name="client" placeholder="Клиент" value="<%= sale.client %>">
      <input type="text" name="product" placeholder="Продукт" class="product-input" value="<%= sale.product %>">
      <input type="text" name="count" placeholder="Количество проданной продукции" class="count-input" value="<%= sale.count %>">
      <input type="text" name="summa" placeholder="Общая стоимость" class="summa-input" value="<%= sale.summa %>">
      <input type="text" name="date" placeholder="Дата продажи" class="price-input" value="<%= sale.date %>">
      <div class="form-buttons">
        <input class="input-button" type="submit" value="Submit">
        <a href="/sales">Отмена</a>
      </div>
    </form>
  </div>
</body>
</html>