<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <div class="clients">
        <div class="client-head">
            <div class="client__name">Название</div>
            <div class="client__date">Дата рождения</div>
            <div class="client__passport">Номер пасспорт</div>
            <div class="buttons-client"></div>
        </div>
        <% if (individuals.length) { %>
            <% individuals.forEach(({id, name, date, passport}) => { %>
                <div class="client">
                    <div class="client__name"><%= name %></div>
                    <div class="client__date"><%= date %></div>
                    <div class="client__passport"><%= passport %></div>
                    <div class="buttons-client">
                        <a href="/individuals/edit/<%= id %>" class="btn-edit">Редактировать</a>
                        <button class="btn-clear" data-id="<%= id %>">Удалить</button>
                    </div>
                </div>
            <% }) %>
        <% } %>
        <a href="/add-individual" class="client-add">Добавить</a>
    </div>
    <script>
      document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if (id) {
        fetch(`/individuals/${id}`, {
          method: 'DELETE',
        }).then(() => {
          window.location.reload();
        });
      }
    });
    </script>
</body>
</html>